<header class="nav">
    <div class="logo-title"><a routerLink="/home">Room Management System</a></div>
    <nav class="pageNav">
        <ul class="topNav">
            <li><a routerLink="/home" routerLinkActive="activeLink">Rooms</a></li>
            <li><a routerLink="/create-room" routerLinkActive="activeLink">Create</a></li>
            <li><a routerLink="/log" routerLinkActive="activeLink">Log</a></li>
            <li><a routerLink="/manage-users" routerLinkActive="activeLink">Manage Users</a></li>
            <li><a routerLink="/map" routerLinkActive="activeLink">Map</a></li>
            <li><a class="logout" (click)="onLogout()">Log Out</a></li>
        </ul>
    </nav>
</header>
 